@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');

.bg-home{
    background-image: url('/src/components/img/consultoria1.jpg');
    background-position: center;
    background-size: cover;
}

.bg-boton{
    background-color: #f46e33!important;
}

@media (max-width: 575.98px) { 
    .logo-home{
        width: 100%!important;
    }
    .title-home{
        font-size: 35px!important;
    }
    .boton-letter{
        font-size: 15px!important;
    }
}
